{% extends 'base.html.twig' %}

{% block title %}new
	record
| {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{title}}</h1>

	<div>
		Tracks:
		<ul>

			{% for track in tracks %}

				<li>{{track.title|upper}}
					-
					{{track.length}}</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
